@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap');

@media (prefers-reduced-motion: no-preference) {
    html {
          scroll-behavior: smooth;
    }
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Fredoka', sans-serif;
    color:white;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    background-color: #030c1a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container > h1 {
    margin: 20px 0;
    text-shadow: 0 0 0px white;
}

.container > h2 {
    margin-top: 40px;
    margin-bottom: 20px;
    text-shadow: 0 0 0px white;
}

.colored {
    text-shadow: 0 0 0px #66fa66;
    color: #90EE90;
}

.links > a{
    margin: 0 10px;
}

.card{
    background-color: #001d30;
    width: 300px;
    height: 400px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projecttitle{
    margin: 10px 0;
    font-size: 26px;
}

.card a{
    background-color: #005892;
    padding: 18px 32px;
    margin-top: 30px;
    font-size: 20px
}

lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
