@font-face {
    font-family: 'Reload';
    src: url('fonts/Reload-Medium.woff2') format('woff2'),
         url('fonts/Reload-Medium.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1e1e1e;
    color: #f1f1f1;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    width: 60%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 40px;
    background: #2a2a2a; 
    border-radius: 8px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    border: 2px solid #444;
    position: relative;
}

h1 {
    font-family: 'Reload';
    font-size: 32px;
    color: #ff8c00;
    margin-bottom: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

label {
    font-family: 'Reload';
    font-size: 18px;
    color: #f1f1f1;
    margin-bottom: 10px;
    display: block;
}

select, button {
    background-color: #3c3c3c;
    color: #f1f1f1;
    font-size: 16px;
    padding: 12px 20px;
    border-radius: 5px;
    border: 2px solid #666;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
}

select:focus, button:focus {
    outline: none;
    border-color: #ff8c00;
}

button {
    background-color: #d9534f;
    color: #fff;
    font-size: 20px;
    padding: 15px 25px;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
}

button:hover {
    background-color: #c9302c;
}

button:active {
    transform: scale(0.98);
}

#losuj:disabled {
    background-color: #cccccc;
    color: #888888; 
    cursor: not-allowed; 
    transform: scale(0.98); 
}

#loading {
    font-size: 24px;
    color: #ff8c00;
    font-weight: bold;
    display: none;
}

.iframe-container {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-top: 30px;
}

iframe {
    width: 100%;
    height: 700px;
    border: 2px solid #444;
    border-radius: 5px;
}

#timer {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    background-color: #ff8c00;
    padding: 12px;
    border-radius: 5px;
    border: 2px solid #e47c00;
}

#timer.pulse {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1.1); opacity: 0.8; }
    100% { transform: scale(1); opacity: 1; }
}

#timer.red {
    background-color: #c9302c;
    border: 2px solid #7e1f1c;
}

.blur-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(8px);
    display: none;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
}

.blur-overlay p {
    text-transform: uppercase;
}

.select-container {
    margin-bottom: 20px;
    text-align: left;
}

input, select {
    font-family: 'Reload';
    background-color: #333;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #444;
    margin-bottom: 15px;
}

input:focus, select:focus {
    border-color: #ff8c00;
    outline: none;
}

#zakoncz {
    display: none;
    background-color: #17a2b8;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 5px;
    border: 2px solid #17a2b8;
    cursor: pointer;
    color: white;
}

#zakoncz:hover {
    background-color: #138496;
}

#zakoncz:active {
    transform: scale(0.98);
}

.confirmation-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: fadeIn 0.3s ease-in-out;
}

.confirmation-box {
    background-color: #222;
    color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    width: 420px;
    text-align: center;
    border: 2px solid #444;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    animation: slideUp 0.3s ease-out;
}

.confirmation-box p {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 600; 
    line-height: 1.4;
}

.confirmation-buttons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.confirm-btn {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #d9534f;
    color: #fff;
    width: 45%;
    transition: background-color 0.3s ease;
}

.confirm-btn:hover {
    background-color: #c9302c;
}

.cancel-btn {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #5bc0de;
    color: #fff;
    width: 45%;
    transition: background-color 0.3s ease;
}

.cancel-btn:hover {
    background-color: #31b0d5;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes slideUp {
    0% { transform: translateY(50px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}

.popup {
            position: fixed;
            bottom: 20px;
            right: 20px;
            background: #ffffff;
            color: black;
            padding: 5px 10px;
            border-radius: 12px;
            display: flex;
            align-items: center;
            gap: 10px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            height: 30px;
            transition: width 0.5s ease-out, opacity 2s ease-in;
            width: 32px;
            cursor: pointer;
        }
    
        .popup.expanded {
            width: 120px; /* Popup rozszerza się na szerokość 180px */
        }
    
        .popup img {
            width: 32px;
            height: 32px;
        }
    
        .popup-text {
            position: relative;
            overflow: hidden;
            height: 20px;
            width: 0;
            font-weight: bold;
            white-space: nowrap;
            transition: width 0.5s ease-out;
            opacity: 0;
        }
    
        .popup-text.visible {
            width: 70px;
            opacity: 1;
        }
    
        .popup-text div {
            position: absolute;
            width: 100%;
            animation: slideUp 3s infinite;
        }
    
        /* Animacja zmniejszania szerokości tekstu */
        @keyframes shrinkText {
            0% { width: auto; opacity: 1; }
            100% { width: 0; opacity: 0; }
        }
    
        /* Animacja znikania całego popupu */
        @keyframes shrinkPopup {
            0% { transform: scale(1); opacity: 1; }
            100% { transform: scale(0); opacity: 0; }
        }
    
        @keyframes slideUp {
            0% { transform: translateY(100%); opacity: 0; }
            10% { transform: translateY(0); opacity: 1; }
            90% { transform: translateY(0); opacity: 1; }
            100% { transform: translateY(-100%); opacity: 0; }
        }

.przerwa-komunikat {
    background-color: #ff8c00;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    display: none;
}

#przerwa-komunikat p {
    margin: 0;
    font-size: 18px;
}

